*{
    margin: 0;
    padding: 0;

}
body{

    width: 100%;
    height: 105vh;
    background-image: url(picture.jpg);
    background-position: center;
    background-size:cover;
    scroll-behavior: smooth;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.menu{
    width: 200px;
    float: right;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 70px;
    font-size: 14px;
}
ul li a{
    text-decoration:none;
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color:rgba(238, 44, 193, 0.953);
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:rgb(7, 0, 0);
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.1px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    padding-left: 20px;
    margin-top: 8%;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.content ul li{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.content p{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}
p{
    color:#32f853;
}